<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bvrit.pylearn">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconnew"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconnew_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bvrit.pylearn.datascience"></activity>
        <activity android:name="com.bvrit.pylearn.webdev" />
        <activity android:name="com.bvrit.pylearn.sql" />
        <activity android:name="com.bvrit.pylearn.inbuilt" />
        <activity android:name="com.bvrit.pylearn.basics" />
        <activity android:name="com.bvrit.pylearn.quiz1" />
        <activity android:name="com.bvrit.pylearn.faq" />
        <activity android:name="com.bvrit.pylearn.filemo" />
        <activity android:name="com.bvrit.pylearn.fileme" />
        <activity android:name="com.bvrit.pylearn.fileop" />
        <activity android:name="com.bvrit.pylearn.filehand" />
        <activity android:name="com.bvrit.pylearn.regx" />
        <activity android:name="com.bvrit.pylearn.manip" />
        <activity android:name="com.bvrit.pylearn.trye" />
        <activity android:name="com.bvrit.pylearn.getters" />
        <activity android:name="com.bvrit.pylearn.property" />
        <activity android:name="com.bvrit.pylearn.decorator" />
        <activity android:name="com.bvrit.pylearn.closure" />
        <activity android:name="com.bvrit.pylearn.generators" />
        <activity android:name="com.bvrit.pylearn.packages" />
        <activity android:name="com.bvrit.pylearn.module" />
        <activity android:name="com.bvrit.pylearn.iterators" />
        <activity android:name="com.bvrit.pylearn.advanced" />
        <activity android:name="com.bvrit.pylearn.arrays" />
        <activity android:name="com.bvrit.pylearn.funct" />
        <activity android:name="com.bvrit.pylearn.opera" />
        <activity android:name="com.bvrit.pylearn.methover" />
        <activity android:name="com.bvrit.pylearn.multilevel" />
        <activity android:name="com.bvrit.pylearn.multiple" />
        <activity android:name="com.bvrit.pylearn.inh1" />
        <activity android:name="com.bvrit.pylearn.poly" />
        <activity android:name="com.bvrit.pylearn.encap" />
        <activity android:name="com.bvrit.pylearn.inher" />
        <activity android:name="com.bvrit.pylearn.method" />
        <activity android:name="com.bvrit.pylearn.clas" />
        <activity android:name="com.bvrit.pylearn.object" />
        <activity android:name="com.bvrit.pylearn.dict" />
        <activity android:name="com.bvrit.pylearn.sets" />
        <activity android:name="com.bvrit.pylearn.tuple" />
        <activity android:name="com.bvrit.pylearn.passed" />
        <activity android:name="com.bvrit.pylearn.breakcon" />
        <activity android:name="com.bvrit.pylearn.fors" />
        <activity android:name="com.bvrit.pylearn.whilee" />
        <activity android:name="com.bvrit.pylearn.loops" />
        <activity android:name="com.bvrit.pylearn.nested" />
        <activity android:name="com.bvrit.pylearn.if_elif" />
        <activity android:name="com.bvrit.pylearn.if_else" />
        <activity android:name="com.bvrit.pylearn.conditional" />
        <activity android:name="com.bvrit.pylearn.bitwise" />
        <activity android:name="com.bvrit.pylearn.member" />
        <activity android:name="com.bvrit.pylearn.identitiy" />
        <activity android:name="com.bvrit.pylearn.logical" />
        <activity android:name="com.bvrit.pylearn.comparison" />
        <activity android:name="com.bvrit.pylearn.assignment" />
        <activity android:name="com.bvrit.pylearn.arithmetic" />
        <activity android:name="com.bvrit.pylearn.operators" />
        <activity android:name="com.bvrit.pylearn.list" />
        <activity android:name="com.bvrit.pylearn.stringmethod" />
        <activity android:name="com.bvrit.pylearn.escape" />
        <activity android:name="com.bvrit.pylearn.slicing" />
        <activity android:name="com.bvrit.pylearn.strliterals" />
        <activity android:name="com.bvrit.pylearn.string" />
        <activity android:name="com.bvrit.pylearn.booleans" />
        <activity android:name="com.bvrit.pylearn.numbers" />
        <activity android:name="com.bvrit.pylearn.datatype_py" />
        <activity android:name="com.bvrit.pylearn.variable_py" />
        <activity android:name="com.bvrit.pylearn.why_python" />
        <activity android:name="com.bvrit.pylearn.getstarted" />
        <activity android:name="com.bvrit.pylearn.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>